/**
 *
 * Welcome Page Styles
 *
**/

.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}

.clearfix:after{
    clear: both;
}

.welcome-section-wrapper *{
    box-sizing: border-box;
}

.about-wrap .accesspress-badge{
    background: url(wlogo.png) center 20px no-repeat #0073aa;
    text-decoration: none;
    padding: 130px 15px 0;
    color: #FFF;
}

.theme-steps-list{
    width: 40%;
    float: left;
}

.theme-image{
    width: 55%;
    float: right;
}

.theme-steps{
    margin-bottom: 60px;
}

.welcome-section-wrapper {
	padding: 50px 0;
}

.recomended-plugin-wrap{
    margin-left: -4%;
}

.recom-plugin-wrap{
    background: #fff;
    border: 1px solid #ddd;
    width: 29.33%;
    float: left;
    margin-left: 4%;
    margin-bottom: 50px;
}

.plugin-img-wrap{
    margin-top: 0;
    text-align: center;
}

.plugin-img-wrap img{
    border: 0;
    padding: 12% 12% 0;
}

.version-author-info {
    padding: 15px 0;
    font-size: 13px;
    font-style: italic;
}

.plugin-title-install {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    line-height: 26px;
    padding: 10px 15px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    background: rgba(255,255,255,.65);
}

.plugin-btn-wrapper{
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 46px;
    padding: 10px 20px;
    background: rgba(244,244,244,.7);
    border-left: 1px solid rgba(0,0,0,.05);
}

.action-tab {
    padding-left: 40px;
    border-left: 4px solid #fff;
    background: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 30px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.action-tab.warning {
    border-color: #eba300;
}

.action-tab.success {
    border-color: #00b9eb;
}

.action-tab h3{
    margin-top: 0;
}

.pending-tasks {
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
    padding: 0 6px;
    margin-left: 5px;
}

.support-process{
    width: 46%;
    margin-right: 4%;
    float: left;
    border: 1px solid #DDD;
    padding: 30px;
    margin-bottom: 40px;
}

.support-process h3{
    margin-top: 0;
}

.recommended_plugins .recomplug-title {
    font-size: 20px;
    margin-top: 0;
}

table.comparison-table {
    background:#F6F6F6;
    border:#ccc 1px solid;
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}

table.comparison-table th,
table.comparison-table td{
    border:1px solid #CCC;
    padding: 15px;
    text-align: left;
}

table.comparison-table th:nth-child(2),
table.comparison-table td:nth-child(2),
table.comparison-table th:nth-child(3),
table.comparison-table td:nth-child(3){
    text-align: center;
}

table.comparison-table th {
    background: #ededed;
    font-size: 20px;
    padding: 25px 15px;
}


table.comparison-table th p:last-child,
table.comparison-table td p:last-child{
    margin-bottom: 0;
}

table.comparison-table td span{
    font-weight: bold;
}

table.comparison-table tr:hover{
    background: #EEE;
}

a.buy-pro-btn {
    display: block;
    background: #b92424;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
}

a.buy-pro-btn:hover{
    background: #981f1f
}

.about-wrap .three-col .support-process.col:last-child{
    background: #0073aa;
    color: #FFF;
}

.about-wrap .three-col .support-process.col:last-child h3{
    color: #FFF;
}

.about-wrap .three-col .support-process.col:last-child{
   background: #0073aa;
   color: #FFF;
}

.about-wrap .three-col .support-process.col:last-child h3{
   color: #FFF;
}

.free_vs_pro .three-col h4{
   font-weight: bold;
}

.free_vs_pro .three-col{
 margin-bottom: 30px;
}

.free_vs_pro .three-col .col{
 border: 5px solid #E0E0E0;
 padding: 15px 30px;
 text-align: center;
}

.free_vs_pro .three-col .col:hover{
   background: #EEE;
}